<div class="search-class">
  <form [formGroup]="formdata" (ngSubmit)="submit(formdata)">
    <label class="label">Id:</label>
    <select formControlName="id" >
      <option class="form-control" *ngFor="let option of dataClass" [value]="option.id">{{ option.id}}</option>
    </select>
    <label class="label">Hình Thức</label>
    <input class="form-control" formControlName="describes">
    <label class="label" style="color: red;" >Thành phố:</label>
    <select formControlName="city" (ngModelChange)="cityOnchange($event)">
      <option *ngFor="let option of city" [value]="option.id" >{{ option.name }}</option>
    </select>
    <label style="color: red;">Quận huyện:</label>
    <select formControlName="district">
      <option *ngFor="let option of district" [value]="option.id">{{ option.name }}</option>
    </select>
    <label style="color: red;">Yêu cầu:</label>
    <input class="form-control" formControlName="request">
<!--    <label class="label">Yêu cầu trình độ:</label>-->
<!--    <input class="form-control" formControlNam="requestLevel">-->
    <label class="label">Yêu cầu giới tính</label>
    <input class="form-control" formControlName="sex">
    <label class="label">Cấp học</label>
    <select formControlName="level">
      <option *ngFor="let option of levelSchool" [value]="option.id">{{ option.name }}</option>
    </select>
    <label class="label">Môn học </label>
    <input class="form-control" formControlName="subject">
    <label class="label">Lớp</label>
    <input class="form-control" formControlName="class">
    <button type="submit">Search</button>

  </form>
</div>
<div class="list-class">

    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Hình Thức</th>
        <th>Địa Chỉ</th>
        <th>Giá</th>
        <th>Yêu cầu</th>
        <th>Thông tin</th>
        <th>Số Buổi</th>
        <th>Thời Gian Rảnh</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let lClass of dataClass">

        <th>{{lClass.id}}</th>
        <th>{{lClass.describes}}</th>
        <th>{{lClass.districts}}</th>
        <th>{{lClass.price}}</th>
        <th>{{lClass.request}}</th>
        <th>{{lClass.information}}</th>
        <th>{{lClass.numberSessions}}</th>
        <th>{{lClass.timeTeach}}</th>
        <th></th>
      </tr>
      </tbody>
    </table>
</div>

